*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #5BB8B7FF;
    color: white;
}
h1 , p {
    text-align: center;
    display: block;
}
table{
    border-collapse:collapse;
}
th{
    background-color: #252D38FF;    
    width: 200px;
    height: 20px;
}
table, th, tr, td{
    margin: 6% 5%;
    width: 1200px;
    height: 55px;
    border: 2px solid black;
}
tr:nth-child(1n){
    background-color: rgba(32, 41, 50, 0.726);
}
tr:nth-child(even){
    background-color: #252D38FF;
}
th{
    text-align: start;
}
a{
    padding: 10px 10px;
    background-color: aquamarine;
    text-decoration: none;
    border-radius: 5px;
}
tfoot{
    text-align: center;
}